
<div class="col-sm-offset-1 col-sm-10 text-center bg" style="color: #000;">
    <div class="row" *ngIf = "data.PageId == 1">
        <div style="background-color: black; color: burlywood;padding: 10px 5px 10px 5px;" class="txt-bg">{{ data.QueryTxt }}</div> 
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigServiceDetailsImg">
            <div ngxSlickItem *ngFor="let data of arrServiceDetails" style="background-color: black; color: burlywood;">
                <img class="img-slider" src="{{ data.ImgPath }}" width="100%" height="250">
                <div class="txt-xs" style="padding: 10px 5px 10px 5px;">{{ data.Caption }}</div>
                <!-- <div class="txt-xs">{{ data.Txt }}</div> -->
            </div>
        </ngx-slick-carousel>
    </div>
    <div class="row" *ngIf="data.PageId == 2">
        <div class="txt-bg">{{ ErrCat }}</div>
        <div class="txt-sm">{{ data.QueryTxt }}</div>
    </div>
    <div class="row" *ngIf="data.PageId == 3" style="overflow-y: auto;">
        <!-- <div class="txt-bg">{{ data.QueryId }}</div>
        <div class="txt-sm">{{ data.QueryTxt }}</div> -->
        <div class="col-sm-12">
            <div class="txt-bg">{{ OrgName }}</div>
            <div class="txt-sm">{{ OrgAddress }}</div>
            <div class="txt-xs"><span class="glyphicon glyphicon-phone-alt" style="margin-right:10px;"></span>{{ Phone }}</div>
        </div>
        <div class="row">
            <div class="col-sm-12 div-map">
                <div class="row">
                    <div class="col-sm-12 text-center" style="color: #000;">
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                            <agm-marker [latitude]="lat" [longitude]="lng">
                                <agm-info-window>
                                    <div class="txt-md">Moments</div>
                                    <div class="txt-xs">{{ OrgAddress }}</div>
                                </agm-info-window>
                            </agm-marker>
                        </agm-map>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <img src="{{ baseImgUrl + 'premise.png' }}" alt="Los Angeles" width="100%" height="130">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 text-left" style="margin-top: 15px;">
                <a style="text-decoration: none;"
                    href="https://maps.google.com/?q=Parking, Gungahlin Marketplace, Canberra, Australia">
                    <i class='fas fa-car' style='font-size:18px'></i>&nbsp;&nbsp; Car Park, Gungahlin
                    Marketplace
                </a>
            </div>
            <div class="col-sm-12 text-left" style="margin-top: 15px;">
                <a style="text-decoration: none;"
                    href="https://maps.google.com/?q=Westfield Busstop, Belconnen, Canberra, Australia">
                    <i class='fas fa-car' style='font-size:18px'></i>&nbsp;&nbsp; Nearest Public
                    Transport
                </a>
            </div>
        </div>
    </div>
    <!-- OrgName: this.ClientName,
    EventName: this.EventName,
    BookingDate: this.BookingDate,
    BookingTime: this.BookingTime,
    TotalGuest: parseInt(this.TotalGuest),
    FullName: info.FullName,
    ContactNo: info.ContactNo,
    Email: info.Email, -->

    <div class="col-sm-12" *ngIf="data.PageId == 4 && data.QueryId == 1">
        <div class="row">
            <div class="text-left">
                <div class="txt-lg">Dear {{ data.QueryTxt.FullName }}</div>
            </div>
            <div class="txt-bg text-left">
                Your Reservation Details
            </div>
            <div class="text-left">Vanue&nbsp;:&nbsp;{{ data.QueryTxt.OrgName }}</div>
            <div class="text-left">Date&nbsp;&nbsp;:&nbsp;{{ data.QueryTxt.BookingDate | date }}</div>
            <div class="text-left">Event&nbsp;:&nbsp;{{ data.QueryTxt.EventName + " at " + data.QueryTxt.BookingTime }}</div>
            <div class="text-left">Guest&nbsp;:&nbsp;{{ data.QueryTxt.TotalGuest }}</div>
            
            <div class="col-md-12 pull-left" style="margin-top: 10px;">
                <table class="table-regular">
                    <tr>
                        <td>
                            <button mat-raised-button [mat-dialog-close]="2001" cdkFocusInitial>
                                <span class="txt-sm">Proceed</span>
                            </button>
                        </td>
                        <td style="width: 5px;"></td>
                        <td>
                            <button mat-raised-button [mat-dialog-close]="2000" cdkFocusInitial>
                                <span class="txt-sm">Cancel</span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12" *ngIf="data.PageId == 4 && data.QueryId == 2">
        <div style="margin-top: 50px;" class="txt-sm">
            Dear Client, an booking confirmation email being sent to your email address. If you do not find the email, check spam folder and press "Not a spam"
        </div>
        <div style="margin-top: 20px;">
            <button mat-raised-button [mat-dialog-close]="2002" cdkFocusInitial>
                <span class="txt-sm">Ok</span>
            </button>
        </div>
    </div>
</div>